<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>INC portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1 user-scalable=no">
    <link href="/css/inc.css" rel="stylesheet" media="screen" th:href="@{/css/portfolio.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</head>
<body>
<div th:insert="~{/navigation.html :: mainMenu}">

</div>


<header style="display:flex;">

    <h2>KONTAKT</h2>

</header>

<div class="row">
    <main>

        <article>


            <section>

                <div class="row">

                    <div class="column" style="justify-content: left; margin: 40px;">

                        <h4>Kontakt</h4>
                        I.N.C. Anna Orechwa<br>
                        ul. Poniatowskiego 6B<br>
                        05-500 Piaseczno<br><br>

                        Fax: 22 877 48 32<br>
                        Tel.: 664 425 548<br>
                        Strona internetowa: inchirurgia.pl<br>
                        Email: a.w.orechwa@chello.pl<br>

                    </div>
                    <!-- second column -->
                    <div class="column" style="justify-content: left; margin: 40px;">
                        <h4>Formularz kontaktowy</h4>
                        <form class="was-validated" action="/processContact" th:object="${contact_data}" method="post">
                            <div class="form-group">
                                <label for="name">Imię i nazwisko:</label>
                                <input type="text" class="form-control" id="name" placeholder="Imię i nazwisko"
                                       th:field="*{name}">
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" id="email" placeholder="email (wymagane)"
                                       th:field="*{email}">
                                <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                            </div>
                            <div class="form-group">
                                <label for="subject">Temat:</label>
                                <input type="text" class="form-control" id="subject" placeholder="Temat"
                                       th:field="*{subject}">
                            </div>
                            <div class="form-group">
                                <label for="message">Wiadomość:</label>
                                <textarea class="form-control" rows="5" id="message" placeholder="Treść wiadomośći"
                                          th:field="*{message}"/>
                                <p th:if="${#fields.hasErrors('message')}" th:errors="*{message}"></p>
                            </div>
                            <div class="form-group form-check">

                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="agreement"
                                           th:field="*{rodoConfirmation}" value="true" required>

                                    <div class="valid-feedback">Wyrażam zgodę na przetwarzanie przez
                                        I.N.C. Anna Orechwa z siedzibą w Piasecznie, ul. Poniatowskiego 6b lok. 6
                                        , 05-500 Piaseczn, moich danych osobowych zawartych w formularzu kontaktowym
                                        w celu otrzymania informacji cenowych lub przygotowania umowy.
                                        Zapoznałem się z <a href="/rodo"> POLITYKĄ PRZETWARZANIA DANYCH OSOBOWYCH</a></div>
                                    <div class="invalid-feedback"Wyrażam zgodę na przetwarzanie przez
                                         I.N.C. Anna Orechwa z siedzibą w Piasecznie, ul. Poniatowskiego 6b lok. 6
                                         , 05-500 Piaseczn, moich danych osobowych zawartych w formularzu kontaktowym
                                         w celu otrzymania informacji cenowych lub przygotowania umowy.
                                         Zapoznałem się z <a href="/rodo"> POLITYKĄ PRZETWARZANIA DANYCH OSOBOWYCH</a></div>
                                </label>
                            </div>
                            <button type="submit" class="btn btn-primary">Wyślij</button>
                        </form>

                    </div>


                </div>

            </section>


        </article>

    </main>


    <aside>

        <!-- The form -->
        <div th:replace="~{/side_bar.html :: sideBar (${product_categories})}">

    </aside>

</div>

<div class="footer">
    <p>Footer</p>
</div>


</body>

</html>


<!--td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td-->