<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>INC portfolio</title>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1 user-scalable=no">
    <link href="/css/inc.css" rel="stylesheet" media="screen" th:href="@{/css/portfolio.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<div th:insert="~{/navigation.html :: mainMenu}">

</div>


<header style="display:flex;">

    <h2 th:text="${portfolio_data.title}">Header</h2>
    <div style="width: 332px">
        <figure class="change-ratio" style="margin-bottom: 0">
            <img th:src="${portfolio_data.getImageFile()}" src="/images/02-466-235x.jpg"
                 th:alt="${portfolio_data.title}">
        </figure>
    </div>

</header>

<div class="row">
    <main>

        <article th:if="${portfolio_data.postDtoList.size()>0}" th:with="i=((${portfolio_data.getPostDtoList().size()}-1)/2)">


            <section th:each="index : ${#numbers.sequence(0,i)}" style="margin: 5px">

                <div class="row">

                    <div class="column" style="justify-content: center; margin: 40px">
                        <form
                                th:with="dataIndex=((${index}*2))"
                                th:action="'/' + ${portfolio_data.postDtoList.get(dataIndex).getStatus()}">
                            <input type="hidden"
                                   th:with="dataIndex=((${index}*2))"
                                   name="id"
                                   th:value="${portfolio_data.postDtoList.get(dataIndex).id}">

                            <button type="submit" style="background-color: #ffffff; border-style: none;">


                                <figure class="change-ratio" style="border-bottom: 3px solid rgb(164, 225, 250);">

                                    <img th:if="((${index}*2)) < ${portfolio_data.postDtoList.size()}"
                                         th:with="dataIndex=((${index}*2))"
                                         th:src="${portfolio_data.postDtoList.get(dataIndex).imageFile}"
                                         src="/images/02-466-235x.jpg"
                                         th:alt="${portfolio_data.postDtoList.get(dataIndex).getImageFile()}"
                                         style="margin: -8% 0">
                                </figure>

                                <h3 th:if="((${index}*2)) < ${portfolio_data.postDtoList.size()}"
                                    th:with="dataIndex=((${index}*2))"
                                    th:text="${portfolio_data.postDtoList.get(dataIndex).title}"></h3>
                            </button>
                        </form>
                    </div>
                    <!-- second column -->
                    <div class="column" style="justify-content: center; margin: 40px">
                        <form th:if="((${index}*2)+1) < ${portfolio_data.postDtoList.size()}"
                              th:with="dataIndex=((${index}*2)+1)"
                              th:action="'/' + ${portfolio_data.postDtoList.get(dataIndex).getStatus()}">

                            <input type="hidden"
                                   th:if="((${index}*2)+1) < ${portfolio_data.postDtoList.size()}"
                                   th:with="dataIndex=((${index}*2)+1)"
                                   name="id"
                                   th:value="${portfolio_data.postDtoList.get(dataIndex).id}">
                            <button th:if="((${index}*2)+1) < ${portfolio_data.postDtoList.size()}"
                                    type="submit" style="background-color: #ffffff; border-style: none;">

                                <figure th:if="((${index}*2)+1) < ${portfolio_data.postDtoList.size()}"
                                        class="change-ratio"
                                        style="border-bottom: 3px solid rgb(164, 225, 250);">

                                    <img th:if="((${index}*2)+1) < ${portfolio_data.postDtoList.size()}"
                                         th:with="dataIndex=((${index}*2)+1)"
                                         th:src="${portfolio_data.postDtoList.get(dataIndex).imageFile}"
                                         src="/images/02-466-235x.jpg"
                                         th:alt="${portfolio_data.postDtoList.get(dataIndex).getImageFile()}"
                                         style="margin: -8% 0">
                                </figure>

                                <h3 th:if="((${index}*2)+1) < ${portfolio_data.postDtoList.size()}"
                                    th:with="dataIndex=((${index}*2)+1)"
                                    th:text="${portfolio_data.postDtoList.get(dataIndex).title}"></h3>
                            </button>
                        </form>
                    </div>


                </div>

            </section>


        </article>

    </main>


    <aside>

        <!-- The form -->
        <div th:replace="~{/side_bar.html :: sideBar (${product_categories})}">

    </aside>

</div>

<div class="footer">
    <p>Footer</p>
</div>


</body>

</html>
