<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>INC portfolio</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i"
          rel="stylesheet">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1 user-scalable=no">
    <link href="/css/inc.css" rel="stylesheet" media="screen" th:href="@{/css/portfolio.css}"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div th:insert="~{/navigation.html :: mainMenu}">

</div>


<header>

    <h2 style="margin: 0; align-items: center; padding-left: 40px">Polityka przetwarzania danych</h2>


</header>

<div class="row">
    <main>
        <h2 style="font-family: 'Roboto', sans-serif; font-size: 24px; font-weight: 400">Informacja o przetwarzaniu
            danych osobowych przez I.N.C Anna Orechwa</h2>

        <article style="font-size: 20px">
            Na podstawie art. 13 Rozporządzenia Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r.
            w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego
            przepływu takich danych oraz uchylenia dyrektywy 95/46/WE (ogólne rozporządzenie o ochronie danych),
            informujemy, że:
            <ol>
                <li>Administratorem Pani/Pana danych osobowych jest Anna Orechwa, 05-500 Piaseczno,
                    ul. Poniatowskiego 6B lok. 6, adres e-mail: a.w.orechwa@chello.pl;
                </li>
                <li>Pani/Pana dane będą przetwarzane w celu:</li>
                <ul>
                    <li>wykonania umowy, której stroną jest osoba, której dane dotyczą, lub do podjęcia działań na
                        żądanie
                        osoby, której dane dotyczą, przed zawarciem umowy (podstawa art. 6 ust 1 pkt. b RODO);
                    </li>

                    <li>wypełnienia obowiązku prawnego ciążącego na administratorze (podstawa art. 6 ust 1 pkt. c
                        RODO);
                    </li>

                    <li>do celów działań związanych z dochodzeniem roszczeń i obsługą roszczeń, reklamacji, gwarancji,
                        wynikających z prawnie uzasadnionych interesów realizowanych przez administratora lub przez
                        stronę
                        trzecią (podstawa art. 6 ust 1 pkt. f RODO);
                    </li>

                    <li>przesyłania informacji marketingowych na podstawie Pana/Pani zgody (podstawa art. 6 ust 1 pkt. a
                        RODO).
                    </li>
                </ul>
                <li>Pani/Pana dane osobowe możemy udostępniać następującym kategoriom podmiotów:</li>
                <ul>
                    <li>podwykonawcom: firmom księgowym, firmom transportowym, operatorom pocztowym, kurierom, firmom
                        lub osobom
                        świadczącym usługi prawne na rzecz Administratora Danych Osobowych.
                    </li>
                </ul>
                <li>Pani/Pana dane osobowe nie będą przekazywane do państw trzecich.</li>

                <li>Okres przechowywania danych:</li>
                <ul>
                    <li>Pani/Pana dane pozyskane w celu zawarcia umowy przechowujemy przez okres negocjowania umowy oraz
                        do
                        końca roku kalendarzowego następującego po roku, w którym ostatni raz Pani/Pan kontaktował się z
                        nami w sprawie zawarcia umowy
                    </li>

                    <li>Pani/Pana dane pozyskane w związku z zawarciem umowy przetwarzamy do końca okresu przedawnienia
                        potencjalnych roszczeń z umowy i upływu okresu przedawnienia zobowiązania podatkowego
                    </li>

                    <li>Pani/Pana dane pozyskane w związku z wyrażeniem zgody na przetwarzanie danych w celach
                        marketingowy
                        przechowywane są do czasu, aż Pani/Pan cofnie zgodę marketingową
                    </li>
                </ul>
                <li>Ma Pani/Pan prawo do:</li>
                <ul>
                    <li>dostępu do swoich danych oraz otrzymania ich kopii</li>

                    <li>sprostowania swoich danych</li>

                    <li>usunięcia danych.
                        Jeżeli Pani/Pana zdaniem nie ma podstaw do tego, abyśmy przetwarzali Pani/Pana dane, może
                        Pani/Pan
                        zażądać, abyśmy je usunęli
                    </li>

                    <li>prawo do przenoszenia danych</li>

                    <li> wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych</li>

                    <li>cofnięcia zgody na przetwarzanie danych osobowych</li>
                </ul>
                <li>Podanie przez Panią/Pana danych jest:</li>
                <ul>
                    <li>dobrowolne</li>

                    <li>warunkiem do zawarcia umowy</li>
                </ul>
            </ol>

            W razie nie podania danych:
            <ul>
                <li>możemy odmówić zawarcia umowy.
                </li>
            </ul>

        </article>

    </main>


    <aside>

        <!-- The form -->
        <div th:replace="~{/side_bar.html :: sideBar (${product_categories})}">

    </aside>

</div>

<div class="footer">
    <p>Footer</p>
</div>


</body>

</html>
